Complete pipeline using postgres(validation,staging)/2b865db3-35c9-4bb3-9052-a1b8a86b271a/1/1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "id" : "37b8c1d8-1767-3627-9145-5e8093276148",
            "name" : "SQL Input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "625b4c95-b40c-342a-9e39-422b59b10778",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "id" : "c76e78b3-2b39-3473-b8ce-457edd7fb12f",
            "name" : "OutputStaging",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
            "id" : "91459526-97da-3c6a-8663-20e0de5fecf5",
            "name" : "Input Insert",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "5dd48aa5-8dfe-326b-8d73-95d51aa41403",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "id" : "e9ed45ae-f746-3148-98eb-b24d0c6ec26a",
            "name" : "Output Validated",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "id" : "cd5eb729-1f7e-3f41-b950-772f4f561b53",
            "name" : "Data Lake Input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "0db73f6a-f633-3161-a8ed-02b8b65e610c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "987ea2be-35a7-3226-a4a2-06b32e25b71e",
            "id" : "c00a599d-589d-3eb6-9a3c-e8b333c6d2a0",
            "name" : "OutputDataLake",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "postgresSQL pipeline (validation, staging)",
        "outputPorts" : [ ],
        "position" : {
          "x" : 2224.0,
          "y" : 336.8202292400787
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "a4df9616-eb1f-3b9e-b76c-df8ee6fb69d6",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "cdddcea5-7adc-38a7-af76-79de3acbe883",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "37e59a33-40ef-3325-8831-a53dbecab912",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "f63a2c21-5cd1-39a6-93b4-9a24df46ec61",
              "name" : "ExecuteSQLRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "963b07af-458a-3b9a-b2ef-90cff0db22fc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "91459526-97da-3c6a-8663-20e0de5fecf5",
              "name" : "Input Insert",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "dd127d4b-a3d8-3862-860a-5383fb197288",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "9e863046-c26a-3782-adf5-77027f09ec14",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "f63a2c21-5cd1-39a6-93b4-9a24df46ec61",
              "name" : "ExecuteSQLRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "37e59a33-40ef-3325-8831-a53dbecab912",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "3b95fcda-3026-3fef-ab16-7ddff9fd6ddb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "21571439-0737-3616-92ab-eff9028b8641",
              "id" : "dd127d4b-a3d8-3862-860a-5383fb197288",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bundle" : {
              "artifact" : "nifi-dbcp-service-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.15.3"
              },
              "type" : "org.apache.nifi.dbcp.DBCPService"
            } ],
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "2e22d79e-11ab-33fe-9674-6644b3612419",
            "name" : "queryingTESTdatabase",
            "properties" : {
              "dbcp-min-idle-conns" : "0",
              "Max Wait Time" : "500 millis",
              "Database Driver Class Name" : "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time" : "30 mins",
              "Max Total Connections" : "8",
              "dbcp-max-conn-lifetime" : "-1",
              "Database Connection URL" : "jdbc:postgresql://localhost/test",
              "dbcp-time-between-eviction-runs" : "-1",
              "Database User" : "postgres",
              "dbcp-soft-min-evictable-idle-time" : "-1",
              "database-driver-locations" : "/Users/sandroalavidze/Documents/nifi-1.15.3/drivers/postgresql-42.2.10.jar",
              "dbcp-max-idle-conns" : "8"
            },
            "propertyDescriptors" : {
              "kerberos-password" : {
                "displayName" : "Kerberos Password",
                "identifiesControllerService" : false,
                "name" : "kerberos-password",
                "sensitive" : true
              },
              "dbcp-min-idle-conns" : {
                "displayName" : "Minimum Idle Connections",
                "identifiesControllerService" : false,
                "name" : "dbcp-min-idle-conns",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Driver Class Name" : {
                "displayName" : "Database Driver Class Name",
                "identifiesControllerService" : false,
                "name" : "Database Driver Class Name",
                "sensitive" : false
              },
              "dbcp-min-evictable-idle-time" : {
                "displayName" : "Minimum Evictable Idle Time",
                "identifiesControllerService" : false,
                "name" : "dbcp-min-evictable-idle-time",
                "sensitive" : false
              },
              "kerberos-principal" : {
                "displayName" : "Kerberos Principal",
                "identifiesControllerService" : false,
                "name" : "kerberos-principal",
                "sensitive" : false
              },
              "Max Total Connections" : {
                "displayName" : "Max Total Connections",
                "identifiesControllerService" : false,
                "name" : "Max Total Connections",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "dbcp-max-conn-lifetime" : {
                "displayName" : "Max Connection Lifetime",
                "identifiesControllerService" : false,
                "name" : "dbcp-max-conn-lifetime",
                "sensitive" : false
              },
              "Validation-query" : {
                "displayName" : "Validation query",
                "identifiesControllerService" : false,
                "name" : "Validation-query",
                "sensitive" : false
              },
              "Database Connection URL" : {
                "displayName" : "Database Connection URL",
                "identifiesControllerService" : false,
                "name" : "Database Connection URL",
                "sensitive" : false
              },
              "dbcp-time-between-eviction-runs" : {
                "displayName" : "Time Between Eviction Runs",
                "identifiesControllerService" : false,
                "name" : "dbcp-time-between-eviction-runs",
                "sensitive" : false
              },
              "Database User" : {
                "displayName" : "Database User",
                "identifiesControllerService" : false,
                "name" : "Database User",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "dbcp-soft-min-evictable-idle-time" : {
                "displayName" : "Soft Minimum Evictable Idle Time",
                "identifiesControllerService" : false,
                "name" : "dbcp-soft-min-evictable-idle-time",
                "sensitive" : false
              },
              "database-driver-locations" : {
                "displayName" : "Database Driver Location(s)",
                "identifiesControllerService" : false,
                "name" : "database-driver-locations",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "dbcp-max-idle-conns" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "dbcp-max-idle-conns",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
          }, {
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.15.3"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "fadfafab-a343-31ce-b437-716a33ae3676",
            "name" : "JsonRecordSetWriter",
            "properties" : {
              "compression-level" : "1",
              "Pretty Print JSON" : "false",
              "compression-format" : "none",
              "Schema Write Strategy" : "no-schema",
              "suppress-nulls" : "never-suppress",
              "output-grouping" : "output-oneline",
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "compression-level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "compression-level",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Pretty Print JSON" : {
                "displayName" : "Pretty Print JSON",
                "identifiesControllerService" : false,
                "name" : "Pretty Print JSON",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "suppress-nulls" : {
                "displayName" : "Suppress Null Values",
                "identifiesControllerService" : false,
                "name" : "suppress-nulls",
                "sensitive" : false
              },
              "output-grouping" : {
                "displayName" : "Output Grouping",
                "identifiesControllerService" : false,
                "name" : "output-grouping",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "type" : "org.apache.nifi.json.JsonRecordSetWriter"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "21571439-0737-3616-92ab-eff9028b8641",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "91459526-97da-3c6a-8663-20e0de5fecf5",
            "name" : "Input Insert",
            "position" : {
              "x" : 608.0,
              "y" : -96.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Insert Into Warehouse Table",
          "outputPorts" : [ ],
          "position" : {
            "x" : 2224.0,
            "y" : 616.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "a4df9616-eb1f-3b9e-b76c-df8ee6fb69d6",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 552.0,
              "y" : 752.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : " INSERT INTO ${warehouse} VALUES ('${userid}','${name}',${age},'${street}','${city}','${state}','${zip}');",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "2e22d79e-11ab-33fe-9674-6644b3612419",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "true"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "37e59a33-40ef-3325-8831-a53dbecab912",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 560.0,
              "y" : 528.0
            },
            "properties" : {
              "zip" : "$.zip",
              "Destination" : "flowfile-attribute",
              "city" : "$.city",
              "street" : "$.street",
              "Return Type" : "auto-detect",
              "name" : "$.name",
              "Null Value Representation" : "empty string",
              "state" : "$.state",
              "userid" : "$.userid",
              "age" : "$.age",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "zip" : {
                "displayName" : "zip",
                "identifiesControllerService" : false,
                "name" : "zip",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "city" : {
                "displayName" : "city",
                "identifiesControllerService" : false,
                "name" : "city",
                "sensitive" : false
              },
              "street" : {
                "displayName" : "street",
                "identifiesControllerService" : false,
                "name" : "street",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "name" : {
                "displayName" : "name",
                "identifiesControllerService" : false,
                "name" : "name",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "state" : {
                "displayName" : "state",
                "identifiesControllerService" : false,
                "name" : "state",
                "sensitive" : false
              },
              "userid" : {
                "displayName" : "userid",
                "identifiesControllerService" : false,
                "name" : "userid",
                "sensitive" : false
              },
              "age" : {
                "displayName" : "age",
                "identifiesControllerService" : false,
                "name" : "age",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "f63a2c21-5cd1-39a6-93b4-9a24df46ec61",
            "name" : "ExecuteSQLRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 560.0,
              "y" : 64.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "fadfafab-a343-31ce-b437-716a33ae3676",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "2e22d79e-11ab-33fe-9674-6644b3612419",
              "esql-auto-commit" : "true",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "select * from ${table}",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "esql-auto-commit" : {
                "displayName" : "Set Auto Commit",
                "identifiesControllerService" : false,
                "name" : "esql-auto-commit",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "21571439-0737-3616-92ab-eff9028b8641",
            "identifier" : "dd127d4b-a3d8-3862-860a-5383fb197288",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 568.0,
              "y" : 296.0
            },
            "properties" : {
              "Remove Trailing Newlines" : "true",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : {
            "warehouse" : "warehouse",
            "table" : "staging"
          }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "1fe573a0-66b1-305f-93dd-9249fb554dbc",
              "name" : "Run python script for Data eval.",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "217bbd65-2a5a-3efa-af3b-e6cf04a09bb1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "623f93f8-1b66-3906-9070-fcd871e878d1",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "84b155d3-b379-3313-b1d7-6a4974b4517b",
              "name" : "Route based on result",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "68c04f0d-f68a-37a6-b804-0f69eb15d1bc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "2f873e19-941a-339d-b024-f008a436eab7",
              "name" : "Evaluate Result",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "623f93f8-1b66-3906-9070-fcd871e878d1",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "0b99f6d3-50e4-313e-91fa-7868f3a98b36",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "37b8c1d8-1767-3627-9145-5e8093276148",
              "name" : "SQL Input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "e9ed45ae-f746-3148-98eb-b24d0c6ec26a",
              "name" : "Output Validated",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "1c85778a-5056-398b-965c-ba820e8eee41",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "pass" ],
            "source" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "84b155d3-b379-3313-b1d7-6a4974b4517b",
              "name" : "Route based on result",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "2f873e19-941a-339d-b024-f008a436eab7",
              "name" : "Evaluate Result",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "fac804eb-51c1-3b3d-a55a-848cad309126",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "output stream" ],
            "source" : {
              "comments" : "",
              "groupId" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
              "id" : "1fe573a0-66b1-305f-93dd-9249fb554dbc",
              "name" : "Run python script for Data eval.",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "37b8c1d8-1767-3627-9145-5e8093276148",
            "name" : "SQL Input",
            "position" : {
              "x" : 715.9999951757175,
              "y" : 87.9999912399191
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Data Validation",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "e9ed45ae-f746-3148-98eb-b24d0c6ec26a",
            "name" : "Output Validated",
            "position" : {
              "x" : 704.0,
              "y" : 888.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2896.0,
            "y" : 616.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "623f93f8-1b66-3906-9070-fcd871e878d1",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1248.0,
              "y" : 128.0
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Bin-Packing Algorithm",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "10000",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Do Not Use Delimiters",
              "Merge Format" : "Binary Concatenation",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "1"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "identifiesControllerService" : false,
                "name" : "Header File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "nonzero status" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "1fe573a0-66b1-305f-93dd-9249fb554dbc",
            "name" : "Run python script for Data eval.",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 216.0
            },
            "properties" : {
              "argumentsStrategy" : "Command Arguments Property",
              "Max Attribute Length" : "256",
              "Command Path" : "python",
              "Working Directory" : "/Users/sandroalavidze/Documents/Data Engineering/stagingValid/great_expectations",
              "Argument Delimiter" : ";",
              "Ignore STDIN" : "false",
              "Command Arguments" : "stagingvalid.py"
            },
            "propertyDescriptors" : {
              "argumentsStrategy" : {
                "displayName" : "Command Arguments Strategy",
                "identifiesControllerService" : false,
                "name" : "argumentsStrategy",
                "sensitive" : false
              },
              "Max Attribute Length" : {
                "displayName" : "Max Attribute Length",
                "identifiesControllerService" : false,
                "name" : "Max Attribute Length",
                "sensitive" : false
              },
              "Command Path" : {
                "displayName" : "Command Path",
                "identifiesControllerService" : false,
                "name" : "Command Path",
                "sensitive" : false
              },
              "Working Directory" : {
                "displayName" : "Working Directory",
                "identifiesControllerService" : false,
                "name" : "Working Directory",
                "sensitive" : false
              },
              "Output Destination Attribute" : {
                "displayName" : "Output Destination Attribute",
                "identifiesControllerService" : false,
                "name" : "Output Destination Attribute",
                "sensitive" : false
              },
              "Argument Delimiter" : {
                "displayName" : "Argument Delimiter",
                "identifiesControllerService" : false,
                "name" : "Argument Delimiter",
                "sensitive" : false
              },
              "Ignore STDIN" : {
                "displayName" : "Ignore STDIN",
                "identifiesControllerService" : false,
                "name" : "Ignore STDIN",
                "sensitive" : false
              },
              "Command Arguments" : {
                "displayName" : "Command Arguments",
                "identifiesControllerService" : false,
                "name" : "Command Arguments",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "2f873e19-941a-339d-b024-f008a436eab7",
            "name" : "Evaluate Result",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 424.0
            },
            "properties" : {
              "result" : "$.result",
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "result" : {
                "displayName" : "result",
                "identifiesControllerService" : false,
                "name" : "result",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "fail", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "c492d70e-1fcf-310f-a7d2-f5311fe3bfda",
            "identifier" : "84b155d3-b379-3313-b1d7-6a4974b4517b",
            "name" : "Route based on result",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 672.0,
              "y" : 672.0
            },
            "properties" : {
              "fail" : "${result:equals(\"fail\")}",
              "Routing Strategy" : "Route to Property name",
              "pass" : "${result:equals('pass')}"
            },
            "propertyDescriptors" : {
              "fail" : {
                "displayName" : "fail",
                "identifiesControllerService" : false,
                "name" : "fail",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "pass" : {
                "displayName" : "pass",
                "identifiesControllerService" : false,
                "name" : "pass",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "fe1d842b-9ee4-3398-9da6-3ab203290cc4",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "fb1e4aa5-d73b-3cff-aeb1-705142a7c1ea",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "c897251a-ef86-3560-98da-247b77f429f8",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "c897251a-ef86-3560-98da-247b77f429f8",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "8d231e99-5bc6-309c-97e2-adf4d6a0381c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "cd5eb729-1f7e-3f41-b950-772f4f561b53",
              "name" : "Data Lake Input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "c76e78b3-2b39-3473-b8ce-457edd7fb12f",
              "name" : "OutputStaging",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "0213ee8e-f230-3b22-a58d-88ab466259cf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
              "id" : "fe1d842b-9ee4-3398-9da6-3ab203290cc4",
              "name" : "UpdateCounter",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bundle" : {
              "artifact" : "nifi-dbcp-service-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.15.3"
              },
              "type" : "org.apache.nifi.dbcp.DBCPService"
            } ],
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "264f9a5c-dfaa-3005-8db9-31b124037754",
            "name" : "test",
            "properties" : {
              "dbcp-min-idle-conns" : "0",
              "Max Wait Time" : "500 millis",
              "Database Driver Class Name" : "org.postgresql.Driver",
              "dbcp-min-evictable-idle-time" : "30 mins",
              "Max Total Connections" : "8",
              "dbcp-max-conn-lifetime" : "-1",
              "Database Connection URL" : "jdbc:postgresql://localhost/test",
              "dbcp-time-between-eviction-runs" : "-1",
              "Database User" : "postgres",
              "dbcp-soft-min-evictable-idle-time" : "-1",
              "database-driver-locations" : "/Users/sandroalavidze/Documents/nifi-1.15.3/drivers/postgresql-42.2.10.jar",
              "dbcp-max-idle-conns" : "8"
            },
            "propertyDescriptors" : {
              "kerberos-password" : {
                "displayName" : "Kerberos Password",
                "identifiesControllerService" : false,
                "name" : "kerberos-password",
                "sensitive" : true
              },
              "dbcp-min-idle-conns" : {
                "displayName" : "Minimum Idle Connections",
                "identifiesControllerService" : false,
                "name" : "dbcp-min-idle-conns",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Driver Class Name" : {
                "displayName" : "Database Driver Class Name",
                "identifiesControllerService" : false,
                "name" : "Database Driver Class Name",
                "sensitive" : false
              },
              "dbcp-min-evictable-idle-time" : {
                "displayName" : "Minimum Evictable Idle Time",
                "identifiesControllerService" : false,
                "name" : "dbcp-min-evictable-idle-time",
                "sensitive" : false
              },
              "kerberos-principal" : {
                "displayName" : "Kerberos Principal",
                "identifiesControllerService" : false,
                "name" : "kerberos-principal",
                "sensitive" : false
              },
              "Max Total Connections" : {
                "displayName" : "Max Total Connections",
                "identifiesControllerService" : false,
                "name" : "Max Total Connections",
                "sensitive" : false
              },
              "kerberos-credentials-service" : {
                "displayName" : "Kerberos Credentials Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-credentials-service",
                "sensitive" : false
              },
              "dbcp-max-conn-lifetime" : {
                "displayName" : "Max Connection Lifetime",
                "identifiesControllerService" : false,
                "name" : "dbcp-max-conn-lifetime",
                "sensitive" : false
              },
              "Validation-query" : {
                "displayName" : "Validation query",
                "identifiesControllerService" : false,
                "name" : "Validation-query",
                "sensitive" : false
              },
              "Database Connection URL" : {
                "displayName" : "Database Connection URL",
                "identifiesControllerService" : false,
                "name" : "Database Connection URL",
                "sensitive" : false
              },
              "dbcp-time-between-eviction-runs" : {
                "displayName" : "Time Between Eviction Runs",
                "identifiesControllerService" : false,
                "name" : "dbcp-time-between-eviction-runs",
                "sensitive" : false
              },
              "Database User" : {
                "displayName" : "Database User",
                "identifiesControllerService" : false,
                "name" : "Database User",
                "sensitive" : false
              },
              "kerberos-user-service" : {
                "displayName" : "Kerberos User Service",
                "identifiesControllerService" : true,
                "name" : "kerberos-user-service",
                "sensitive" : false
              },
              "dbcp-soft-min-evictable-idle-time" : {
                "displayName" : "Soft Minimum Evictable Idle Time",
                "identifiesControllerService" : false,
                "name" : "dbcp-soft-min-evictable-idle-time",
                "sensitive" : false
              },
              "database-driver-locations" : {
                "displayName" : "Database Driver Location(s)",
                "identifiesControllerService" : false,
                "name" : "database-driver-locations",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "dbcp-max-idle-conns" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "dbcp-max-idle-conns",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "cd5eb729-1f7e-3f41-b950-772f4f561b53",
            "name" : "Data Lake Input",
            "position" : {
              "x" : 592.0,
              "y" : 16.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Insert Into Staging Table",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "c76e78b3-2b39-3473-b8ce-457edd7fb12f",
            "name" : "OutputStaging",
            "position" : {
              "x" : 616.0,
              "y" : 608.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 2888.0,
            "y" : 344.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "fe1d842b-9ee4-3398-9da6-3ab203290cc4",
            "name" : "UpdateCounter",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 560.0,
              "y" : 376.0
            },
            "properties" : {
              "counter-name" : "Insert Counter",
              "delta" : "1"
            },
            "propertyDescriptors" : {
              "counter-name" : {
                "displayName" : "Counter Name",
                "identifiesControllerService" : false,
                "name" : "counter-name",
                "sensitive" : false
              },
              "delta" : {
                "displayName" : "Delta",
                "identifiesControllerService" : false,
                "name" : "delta",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.UpdateCounter",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "retry" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "e9d2a7f2-f9f0-3774-925c-348f406ddf84",
            "identifier" : "c897251a-ef86-3560-98da-247b77f429f8",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 552.0,
              "y" : 160.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : " INSERT INTO ${table} VALUES ('${userid}','${name}',${age},'${street}','${city}','${state}','${zip}');",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "264f9a5c-dfaa-3005-8db9-31b124037754",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "true"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : {
            "table" : "staging"
          }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "1706c76e-a230-37d9-b6fd-9ef7e0096668",
          "identifier" : "987ea2be-35a7-3226-a4a2-06b32e25b71e",
          "inputPorts" : [ ],
          "labels" : [ ],
          "name" : "Read from Datalake",
          "outputPorts" : [ ],
          "position" : {
            "x" : 2228.8231939615735,
            "y" : 336.8202292400787
          },
          "processGroups" : [ ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { },
          "versionedFlowCoordinates" : {
            "bucketId" : "d9801e09-f9e0-423b-a5a1-120b469df737",
            "flowId" : "719310f0-22e8-49c7-8b02-238a0b9a2e63",
            "registryUrl" : "http://127.0.0.1:18080",
            "version" : 2
          }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}